* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
    /* border: 1px solid white; */
}
body {
    height: 100%;
    width: 100%;
    color: rgb(35, 196, 142);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#circle {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: rgb(35, 196, 142);
}
nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: black;
    padding: 25px;
    width: 100%;
}
nav h2 {
    margin-right: auto;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#links a {
    color: rgb(35, 196, 142);
    font-size: 1.2rem;
    padding: 5px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}
#links a:hover {
    border-bottom: 2px solid rgb(35, 196, 142);
}
.cards {
    margin-top: 15px;
    padding: 25px;
    width: 80%;
    display: flex;
    text-align: center;
    background-color: #171717;
    border-radius: 20px;
    border: 2px solid darkslategrey;
}
#info {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 5px 0px 0px 5px;
    border-right: 2px solid darkslategrey;
    h2 {
        border-bottom: 2px solid darkslategrey;
    }
}
#picture {
    margin-bottom: 1.2rem;
    border-radius: 100%;
    width: 50%;
}
#details {
    padding: 10px 20px;
    text-align: start;
    width: 60%;
    border-radius: 0px 5px 5px 0px;
    h1 {
        font-size: 6rem;
    }
    p {
        color: rgb(25, 147, 106);
    }
}
.sectionTitle {
    margin-top: 50px;
    width: 80%;
    justify-self: flex-start;
    display: flex;
    align-items: center;
}
#skillSet {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills {
    display: flex;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2a2a;
    transition: all 0.1s ease-in-out;
}
.skills:hover {
    scale: 1.25;
    border: 2px solid white;
    background-color: #434343;
}
.project {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid darkslategray;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #2b2a2a;
    transition: all 0.1s ease-in-out;
    p {
        margin-top: 6px;
        color: rgb(25, 147, 106);
    }
    a {
        margin-top: 10px;
        padding: 10px 20px;
        background: linear-gradient(to right, rgb(4, 4, 194), rgb(72, 72, 255));
        color: white;
        font-weight: 500;
        text-decoration: none;
        border-radius: 10px;
        width: 20%;
        text-align: center;
        transition: all 0.2s ease-in-out;
        border: 2px solid rgb(4, 4, 194);
    }
    a:hover {
        scale: 1.1;
        border: 2px solid white;
    }
}